<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.admin.mapper.permission.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.saas.admin.model.permission.Permission">
		<id column="pid" property="pid" jdbcType="INTEGER" />
		<result column="sn" property="sn" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		pid, sn, name, remark
	</sql>
	<select id="findBySn" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		where sn = #{sn,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from permission
		where pid = #{pid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from permission
		where pid = #{pid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.saas.admin.model.permission.Permission">
		insert into permission (pid, sn, name,
		remark)
		values (#{pid,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.saas.admin.model.permission.Permission">
		insert into permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">
				pid,
			</if>
			<if test="sn != null">
				sn,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="sn != null">
				#{sn,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.saas.admin.model.permission.Permission">
		update permission
		<set>
			<if test="sn != null">
				sn = #{sn,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where pid = #{pid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.saas.admin.model.permission.Permission">
		update permission
		set sn = #{sn,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}
		where pid = #{pid,jdbcType=INTEGER}
	</update>

	<select id="load" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select pid,sn from permission where pid=#{permissionId}
	</select>
	<select id="findAll" resultType="com.saas.admin.model.permission.Permission">
	    select <include refid="Base_Column_List" /> from permission
	</select>
</mapper>